.Homepage {
    background: "-webkit-linear-gradient(rgb(44, 62, 80) 40%, rgb(50, 103, 139))";
    background: "-moz-linear-gradient(rgb(44, 62, 80) 40%, rgb(50, 103, 139))";
    background: "-o-linear-gradient(rgb(44, 62, 80) 40%, rgb(50, 103, 139))";
    background: "linear-gradient(rgb(44, 62, 80) 40%, rgb(50, 103, 139))";
}